{% extends 'base.twig' %}

{% block body %}


    {% for item in blocks %}
		<h2>{{ item.name }}</h2>

        <p>{{ item.description }}</p>

        {{ item.markup.example | raw}}

        <pre>
	        <code class="language-html">{{ item.markup.example  | escape }}</code>
        </pre>
    {% endfor %}


{% endblock %}

{% block nav %}
    {% for page in styleguide %}
		<a href="/{{page.url}}">{{page.title}}</a>
    {% endfor %}
{% endblock %}
